/**************************/






/************** services showcase *******/
.showcase{
  min-height: 400px;
  background: url('../image/img1.jpeg') no-repeat;
  text-align:;
  color:#fff;
  margin-bottom: 0px;

}

.showcase h1{
  text-decoration-style: uppercase;                
  margin-top: 80px;
  font-size: 55px;
  margin-bottom: 10px;
}
.showcase p{
  font-size: 20px;
}
.main{
  height:100px;
  background-color: #dcdcdc;
  margin: 0px;
  text-align: center;
}
.main h2{
  padding-top: 10px;
}




/******************footer*****/
footer{
    padding:20px;
    margin-top:20px;
    color:#000;
    background-color:#f0f8ff;
    text-align: center;
  }