/**************************/
.wrap{
  background: #a00;
  height:130px;
  color: #fff;
  padding: 0px;
  margin-bottom: 0px;

}




/************** services showcase *******/
.showcase{
  min-height: 400px;
  background: url('../image/cover.jpeg') no-repeat 0 -400px;
  text-align:left;
  color:#fff;
}

.showcase h1{
  text-decoration-style: uppercase;                
  margin-top: 80px;
  font-size: 55px;
  margin-bottom: 10px;
}
.showcase p{
  font-size: 20px;
}
.main{
  height:140px;
  background-color: #a00;
  margin-top: 0px;
  text-align: center;
  color:#fff;
}
.main h2{
  padding-top: 10px;
}


/****************contact**************/

.jumbotron{
  background: #a00;
  color: #fff;
  border-radius: 0px;

}

.jumbotrun-sm{
  padding-top: 24px;
  padding-bottom: 24px;

}
.jumbotron small{
  color:#fff;

}
.header small{
  font-size: 24px;
}




/******************footer*****/
footer{
    padding:15px;
    margin-top:0px;
    color:#000;
    background-color:#f0f8ff;
    text-align: center;
  }